header {
    width: 75%;
    padding: 5px;
    text-align: center;
    margin: 0 auto;

}

header p {
    font-size: 12px;
}

#text {
    display: block;
    margin: 0 auto;
    width: 92%;
    height: 600px;
}

#text-edit {
    width: 90%;
    margin: 0 auto;
}

#text-edit #controls: {
    left: 5em;
    margin-top: 5em;
}

#filetype {
    margin-left: 15px;
}
